spring:
    application:
        name: Produtos API
    datasource:
        url: jdbc:h2:mem:produtosdb
        driver-class-name: org.h2.Driver
        username: sa
        password:
    jpa:
        database-platform: org.hibernate.dialect.H2Dialect
    h2:
        console:
            enabled: true
            path: /h2-console